.neo_ul {
    width: 90%;
    margin-left: 5%;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #656565,
                -20px -20px 60px #ffffff;
}

.neo_li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #656565,
                inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.active {
background-color: #04AA6D;
}

.input {
    margin-top: 20px;
    margin-left: 15%;
    width: 60%;
    outline-color: #404040;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e8e8e8;
    box-shadow: 10px 10px 20px #9a9a9a,
                -10px -10px 20px #ffffff;
    transition: 0.3s;
}

.input:focus {
    outline-color: #e8e8e8;
    background: #e8e8e8;
    box-shadow: inset 20px 20px 60px #c5c5c5,
                inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.neo_login {
    margin-top: 50px;
    padding: 10px;
    margin-left: 40%;
    margin-right: 40%;
    height: 270px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #8b8b8b,
                -10px -10px 20px #ffffff;
}

.neo_register {
    margin-top: 50px;
    padding: 10px;
    margin-left: 40%;
    margin-right: 40%;
    height: 450px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #8b8b8b,
                -10px -10px 20px #ffffff;
}

.neo_private {
    margin-top: 50px;
    padding: 10px;
    margin-left: 40%;
    margin-right: 40%;
    height: 450px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #8b8b8b,
                -10px -10px 20px #ffffff;
}

.neo_message {
    margin-top: 50px;
    padding: 10px;
    margin-left: 30%;
    margin-right: 30%;
    height: 450px;
    border-radius: 20px;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #8b8b8b,
                -10px -10px 20px #ffffff;
}

button {
    margin-top: 20px;
    margin-left: 15%;
    border: none;
    padding: 1rem;
    border-radius: 1rem;
    background: #e0e0e0;
    box-shadow:  10px 10px 20px #8b8b8b,
            -10px -10px 20px #ffffff;
    transition: 0.3s;
}

button:active {
    box-shadow: inset 20px 20px 60px #c5c5c5,
                inset -20px -20px 60px #ffffff;
    transition: 0.3s;
}

.message_li {
    word-wrap: break-word;
}

.scroll {
    overflow-y: scroll;
    scrollbar-width: none;
}